footer.main-footer
  .container
    img.logo(
    src="/assets/img/coat-of-arms-of-tverskoy--municipality-in-moscow-.png"
    alt=""
    )

    .footerInfo
      | Официальный сайт Государственного бюджетного учреждения города Москвы «Жилищник района Тверской»
      br
      | Все материалы сайта доступны по лицензии Creative Commons
      br
      | Attribution 3.0 при условии ссылки на первоисточник
      br
      | (в случае использования материалов сайта в сети Интернет).

    .store-link(style="float:right;text-align:right;")
        div.text Скачать приложение на мобильный:
        br
        img.storeimg(
            src="/assets/img/google.png"
            alt=""
            )
        img.storeimg(
            src="/assets/img/applestore.png"
            alt=""
            style="margin-right:0"
            )


  .container.footer-m
    nav.footer-menu
     ul
       li: a(href="#") О Жилищнике
       li: a(href="#") Задолженности по ЖКУ
       li: a(href="#") Новости
       li: a(href="#") Услуги ГБУ
       li: a(href="#") Электронное обращение

    .copyright Все права защищены 2017 ©