header.main-header
  .main-header--top
    .container
      ul.social
        li
          a(href="#")
            i.icon.icon--soc.icon--soc--fb
        li
          a(href="#")
            i.icon.icon--soc.icon--soc--tw
        li
          a(href="#")
            i.icon.icon--soc.icon--soc--gl
        li
          a(href="#")
            i.icon.icon--soc.icon--soc--in
        li
          a(href="#")
            i.icon.icon--soc.icon--soc--pn
        li.tools
          div
            a(href="#"
              style="text-decoration:none;"
            ) Войти
                img(src="/assets/img/shape-1.png"
                    style="margin-left:10px"
                    )
            a(href="#")
                img(src="/assets/img/flag-of-russia-svg.png")

  .container
    .main-header--middle
      a(href="#")
        img.logo(
        src="/assets/img/coat-of-arms-of-tverskoy--municipality-in-moscow-.png"
        alt=""
        )
      .description
        | Государственное бюджетное
        br
        | учреждение города Москвы
        br
        b ЖИЛИЩНИК РАЙОНА ТВЕРСКОЙ
      .contacts
        i.icon.icon--contacts.icon--contacts--time
        | Пн-Чт с 8:00 до 17:00
        | &nbsp;&nbsp;&nbsp;&nbsp;
        i.icon.icon--contacts.icon--contacts--time
        | Пт с 8:00 до 15:45
        br
        i.icon.icon--contacts.icon--contacts--geo
        | 127051, г. Москва, Цветной б-р, д. 15, корп. 2
        br
        i.icon.icon--contacts.icon--contacts--phone
        | +7 (495) 64-71-72
      .extraBlock
        table
          tr
            td: i.icon.icon--forDisabled
            td.text: a(href="#")
              | Версия для
              br
              | Слабовидящих
          tr
            td
              i.icon.icon--contactWithUs
            td: a(href="#") Связаться с нами
