aside.leftColumn
  h3.title Разделы
  .content
    ul.leftMenu
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__avariya
        span Аварийные ситуации
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__platnye
        span Платные услуги
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__besplatnye
        span Бесплатные услуги
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__remont
        span Кап ремонт
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__kommunalnye
        span Коммунальные услуги
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__payonline
        span Оплата услуг online
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__requestonline
        span Подача заявки online
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__sms
        span смс оповещение
      li: a(href="#")
        i.icon.icon--leftMenu.icon--leftMenu__like
        span Поставить оценку

  h3.title Последние новости
  .content
    ul.lastNewsList
      li
        a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
        .time
          i.icon.icon--clock
          | 12 апреля 2017
      li
        a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
        .time
          i.icon.icon--clock
          | 12 апреля 2017
      li
        a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
        .time
          i.icon.icon--clock
          | 12 апреля 2017
    a.showMore(href="#")
      i.icon.icon--showMore
      span.title Чинать все новости

  h3.title
  .content
    .leftBanner
      a(href="#"): img(src="/assets/img/demo/leftbanner.jpg" alt="")
