nav.main-menu
  .container
    ul
      li.active: a(href="#") О Жилищнике
      li: a(href="#") Задолженности по ЖКУ
      li: a(href="#") Новости
      li: a(href="#") Услуги ГБУ
      li: a(href="#") Электронное обращение

      li#menu-search.search
        .form-wrapper
          form(action="/" method="post")
            input(type="text")
        a(href="#")
          i.icon.icon--search
