table.table.table-service
	thead
		tr
			th  № П.П.
			th  Виды работ
			th  Единица измерения
			th(colspan=3)  Предельная стоимость работ
		tr
			th &nbsp;
			th &nbsp;
			th &nbsp;
			th
				| Для собственников и нанимателей чужих помещений с льготной категорией
			th(colspan=2) Для собственников и нанимателей жилых помещений
		tr
			th &nbsp;
			th &nbsp;
			th &nbsp;
			th с учетом НДС
			th без учета НДС
			th с учетом НДС
		tr
			td 1.1
			td Замена унитаза со смывным бачком типа “Компакт”
			td 1 прибор
			td 1200.00
			td 1000.00
			td 1200.00
		tr
			td 1.2
			td Замена запорной арматуры горячей воды
			td 1 прибор
			td 1200.00
			td 1000.00
			td 1200.00