ul.announcementsList {
  padding: 30px 20px;

  li {
    width: 260px;

    .img {
      position: relative;

      img {
        width: 260px;
        margin-bottom: 15px;
      }

      span.label {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 6px 12px;
        font-size: 12px;
        color: #fff;

        &Yellow {
          background: #ffba00;
        }
        &Green {
          background: #009c64;
        }
        &Red {
          background: #c92723;
        }
      }
    }
  }
}