$marginVal: 8px;

.bannerblock {
  position: relative;
  display: inline-block;
  margin: 0 0 $marginVal $marginVal;
  float: left;

  &.noLeftMargin {
    margin: 0 0 $marginVal 0;
  }

  & > span {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    background: $mainColor;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 8px 15px;
    font-weight: bold;
  }

  &:hover {
    box-shadow: 0 5px 15px 4px #ccc;
  }
}