.bottomfeedback {
	display : flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

	.btn {
		flex: 0 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 381px;
		height: 43px;

		color: #ffffff;
		font-family: Arial;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		margin: 10px;
	}

	& > div > img {
		margin: 5px;
	}

	& > .skype {
		background-color: $redLink;
	}

	& > .rate {
		background-color: $grayBg-4
	}
}