.breadcrumps {

	margin: 10px 0;
	font-size: 14px;
	font-weight: 400;

	& > ul {
		display: flex;
		flex-direction: row;
		justify-content: left;

		& > li {
			display: block;
			flex: 0 0 auto;
			color: $grayText1;

			& > a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}

			&:last-of-type a {
				color: $redLink;
			}

			&:not(:last-of-type):after{
				content: '';
				display: inline-block;
				height: 8px;
				width: 8px;
				background-image: url('/assets/img/breadcrump.png');
				margin: 0 20px;
			}

		}

	}
}