.contactcard {
	display: block;
	background-color: #ffffff;
	padding: 24px;

	.content {
		background-color: $grayBg-0;
		padding: 12px;
	}

	table.contacttable {
		width: 100%;
		margin-right: 24px;
		border-collapse: collapse;

		&, th, td {
			border: 1px solid $grayBg-3;
		}

		th {
			background-color: $grayBg-1;
			color: #ffffff;
			padding: 5px 10px;
		}

		td {
			background-color: #ffffff;
			padding: 5px 10px;
		}
	}
	span {
		font-size: 16px;
		font-weight: 400;
		color: #000000;

		&.title {
			color: #6a6868;
			margin-right: 10px;
		}

		&.redcircle {
			display: inline-block;
			color: #ffffff;
			background-color: #c92723;
			height: 18px;
			width: 18px;
			padding-left: 4px;
			border-radius: 50% 50%;
		}
		&.red {
			color: #c92723;
			margin-right: 5px;
		}
	}
	.boss {
		min-height: 150px;
		background-color: #f3f3f3;
		padding: 24px;
		margin-top: 24px;
		margin-bottom: 24px;
		img {
			float: left;
			margin-right: 24px;	display: block;
			background-color: #ffffff;
		}
	}

	.substitutors {
		margin-top: 24px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		.person {
			flex: 0 0 auto;
			margin: 12px 0 0 0;
			width: calc(50% - 24px);
			height: 100px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.substitutor-info {
				flex: 1 1 auto;
				padding-left: 24px;
			}
		}
	}
}
.areainfo {
	z-index: 10;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	background-color: #ffffff;
	padding: 10px;
	box-shadow: 0 0 15px 0 #ccc;
	width: 100%;
	height: 66px;

	&:after{
		box-sizing: border-box;
		content: "";
		display: block;
		height: 24px;
		width: 24px;

		position: absolute;
		left: 0;
		bottom: 0;

		border: 12px solid transparent;
		border-top-color: #ffffff;
		transform: translate(22px, 24px);
//		box-shadow: 0 0 15px 0 #ccc;
	}

	&:not(:first-of-type) {
		margin-top: 24px;
	}

	& > div {
		flex: 1 1 auto;
		border-right: 1px solid gray;
		margin-right: 24px;
		position: relative;
		& > span {
			width: 100%;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			font-size: 14px;
		}

		&:first-of-type {
			flex: 0 0 auto;
			width: 200px;
		}

		&:last-of-type {
			border:none;
			flex: 0 0 auto;
			width: 200px;
		}
	}
	.multiphone{
		margin-right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		&>div{
			flex: 0 0 auto;
		}
	}

	.center{
		margin-right: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		& > div{
			flex: 0 0 auto;
		}
	}
}