@import "../variables";

.container {
  width: 1274px;
  margin: 0 auto;
  padding: 0 $containerPaddingLeftRight;

  &.container--main {
    background: $mainBg;
    min-height: calc(100vh - 469px);
    padding-bottom: 50px;
  }
  & .content-container {
    padding-bottom: 35px;
    position: relative;
  }
  & .content-container:first-child {
    padding-top: 35px;
  }
}