footer.main-footer {
  height: 232px;
  background: #1a1c1e;
  clear: both;

  & .container.footer-m{
    padding-top: 70px;
  }

  & .store-link .text{
    font-size: 13px;
  }

  & .storeimg{
    margin-right: 20px;
    height: 60px;
  }

  & .storeimg{

  }

  & .container {
    position: relative;
    padding-top: 50px;
    vertical-align: baseline;

    img.logo {
      position: absolute;
      top: 40px;
    }

    & > div {
      position: relative;
      display: inline-block;
      line-height: 1.2em;
      color: #fff;

      &.footerInfo {
        width: 450px;
        margin-left: 150px;
      }
    }

    & .footer-menu {
      display: inline-block;
      position: relative;

      ul {
        display: inline-block;

        li {
          margin-left: 50px;

          a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;

            &:hover {
              color: #696c6d;
            }
          }
        }
        li:first-child {
          margin-left: 0;
        }
      }
    }

    & .copyright {
      float: right;
      font-size: 12px;
    }
  }
}