@import "../variables";

html,body{
  width:100%;
  height:100%;
  min-width: 1274px;

}

header.main-header {
  width: 100%;
  line-height: 26px;

  & .main-header--top {
    height: 28px;
    background: #6a6868;
    font-size: 12px;
    color: #fff;

    & .container {
      padding: 5px $containerPaddingLeftRight;


      & ul {
        height: 16px;
        line-height: 12px;

        & li:first-child {
          border-left: 1px solid #7e7c7c;
        }
        & li {
          width: 40px;
          border-right: 1px solid #7e7c7c;
          text-align: center;
        }

        & li.tools {
          width: auto;
          float: right;
        }

        & li.tools a{
          color:white;
          padding-right: 10px;
          padding-left: 10px;
          border-left: 1px solid #7e7c7c;
          border-right: 1px solid #7e7c7c;
        }

        & li.tools a{
          color:white;
          padding-right: 10px;
          padding-left: 10px;
          border-left: 1px solid #7e7c7c;
          border-right: none;
        }
      }
    }
  }

  & > .container {
    background: $mainBg;

    & .main-header--middle {
      height: 154px;
      position: relative;

      img.logo {
        margin: 20px 20px 20px 0;
      }

      div {
        position: relative;
        display: inline-block;
        top: 50%;
        transform: translateY(-60%);
      }

      div.description {
        width: 365px;

        & b {
          color: #000;
        }
      }
      div.contacts {
        & > .icon {
          margin: -3px 5px;
        }
      }
      div.extraBlock {
        float: right;
        transform: translateY(-60%);

        table td i.icon {
          margin-top: 7px;
        }
        table td.text {
          line-height: 1em;
          vertical-align: middle;
        }
      }
    }
  }
}