@import "../variables";
ul.lastNewsList {
  padding: 5px 20px;
  a {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
  }
  a:hover {
    text-decoration: underline;
    color: $redLink;
  }
  li {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;

    .time {
      margin-top: 10px;
    }
  }
  li:first-child {
    border-top: 0;
  }
}