.content-container {
  .leftColumn {
    width: 280px;
    float: left;

    & > .title {
      padding: 15px;
      margin: 0;
      color: #000;
      font-size: 22px;
      font-weight: normal;
    }

    & >  .content {
      background: #fff;
      margin-bottom: 35px;
    }
    & > .content:last-child {
      margin-bottom: 0;
    }
  }
}