ul.leftMenu {
  li {
    display: list-item;

    &.active {
      a {
        color: #fff;
        background: $mainColor;
      }
    }

    a {
      color: #6a6868;
      display: block;
      height: 62px;
      position: relative;
      text-decoration: none;
      padding: 6px 0;

      i.icon {
        margin: 9px;
      }

      span {
        position: relative;
        font-size: 16px;
        top: -20px;
      }

      &:hover {
        color: #fff;
        background: $mainColor;
      }

      &:hover:after {
        content: '';
        display: inline-block;
        width: 9px;
        height: 16px;
        background: url('/assets/img/left-menu-arrow.png') no-repeat;
        position: absolute;
        right: 22px;
        top: 20px;
        z-index: 10;
      }
    }
  }
  li:first-child {
    a {
      padding-top: 6px;
    }
  }
}