@import "../variables";

nav.main-menu {
  height: 55px;

  & .container {
    padding: 0;
    background: #fff;

    & ul {
      padding: 0 $containerPaddingLeftRight;
      list-style: none;

      & li {
        display: inline-block;
        height: 55px;
        padding: 16px 25px;
        text-align: center;

        & a {
          color: #000;
          font-size: 16px;
          text-decoration: none;
          vertical-align: baseline;
        }

        &.active {
          border-bottom: 3px solid #ff383c;

          & a {
            color: #c92723;
          }
        }

        &:hover {
          border-bottom: 3px solid #ff383c;
        }

        &.search {
          $bg: #b5b5b5;

          float: right;
          padding: 0;
          display: flex;
          border-bottom: none;

          &:not(.active) {
            .form-wrapper {
              display: none;
            }
          }

          &:hover {
            border: 0;
          }

          .form-wrapper {
            width: 200px;
            display: flex;
            align-items: center;
            padding: 0 5px 0 10px;
            border-bottom: 3px solid #ff383c;

            input {
              padding: 5px;
              width: 100%;
              border: 1px solid $bg;
            }
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 55px;
            height: 55px;
            background: $bg;
          }
        }
      }
    }
  }
}