ul.newsall {
	display: block;

	& > li:last-of-type {
		margin-bottom: 0;
	}

	& > li {
		display: block;
		position:relative;
		padding: 20px;
		margin-bottom: 20px;
		background-color: #ffffff;
		height: 247px;

		a {
			text-decoration: none;
			color: #6a6868;
		}

		h4:hover {
			text-decoration: underline;
			color: #c92723;
		}

		div {
			float: left;
			margin-right: 15px;
		}

		&:hover {
			box-shadow: 0 0 15px 0 #ccc;
		}

		.time {
			position: absolute;
			top: 0;
			right: 0;
			margin-top: 15px;
			margin-right: 15px;
		}

		span {
			display: inline-block;
			margin: 12px 12px 12px 0;
			padding: 0 5px;
			height: 20px;
			background-color: #f3f3f3;
			color: #656363;
			font-size: 11px;
			font-weight: 400;
			clear: left;
		}
	}
}