
.content-container .rightColumn > .content.news{
  margin-bottom: 0;
}

.rightColumn.newsDetail{
  padding-top: 48px;



}

.newsDetail{

  .content{
    padding: 20px;
  }

  .tags span{
    display: inline-block;
    margin: 12px 12px 12px 0;
    padding: 0 5px;
    height: 20px;
    background-color: #f3f3f3;
    color: #656363;
    font-size: 11px;
    font-weight: 400;
  }

  hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e5e5e5;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }

  p.news-text{
    padding-top: 20px;
  }

  img.newspict{
    width: 420px;
    height: auto;
    float: left;
    top: 25px;
    position: relative;
    margin-right: 12px;
    margin-bottom: 10px;
  }

  .time {
    position: absolute;
    font-size: 14px;
    top: 60px;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
  }

  h3.news-title{
    font-size: 18px;
    line-height: 22px;
    color:#000000;
    margin: 0;
    font-weight: 400;
  }

  & > ul {
    display: block;
    width: 100%;
    padding: 20px 0;

    li {
      width: 100%;
      padding: 20px;
      display: block;
      position: relative;

      a {
        text-decoration: none;
        color: #6a6868;

        img {
          float: left;
          margin-right: 15px;
        }


      }

      &:hover {
        box-shadow: 0 0 15px 0 #ccc;
      }
    }



  }
}