.newsList {
  padding: 30px 20px;

  & > &--main {

    & > div {
      padding-right: 25px;
      display: table-cell;
      vertical-align: middle;

      img {
        max-width: 380px;
      }
    }
  }
  & > ul {
    display: table;
    width: 100%;
    padding: 20px 0;
    li {
      width: 50%;
      float: left;
      padding: 20px;
      a {
        text-decoration: none;
        color: #6a6868;

        & > * {
          float: left;
        }

        img {
          margin-right: 15px;
        }

        .time {
          clear: both;
          margin-top: 15px;
        }
      }

      &:hover {
        box-shadow: 0 0 15px 0 #ccc;
      }
    }
    li:nth-of-type(2n + 1) {
      clear: left;
    }
  }
}