.pagination {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;

	li {
		padding: 5px;

		&.active a {
			border: 1px solid $redBg-0;
			background:  $redBg-0;
			color: #ffffff;
			pointer-events: none;
		}

		&:not(.active):hover a {
			border: 1px solid $redBg-0;
			filter: opacity(0.6);
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			$side: 28px;
			width: $side;
			height: $side;
			border-radius: $side /2;
			text-decoration: none;
			font-weight: 400;

			&:hover {
				color: inherit;
			}
		}
	}
}