.requestContainer {
  &Description {
    background: linear-gradient(#fff, #eaebeb);
    height: 344px;
    padding: 25px 20px;

    table {
      tr {
        td {
          vertical-align: middle;
          font-size: 16px;
          padding-top: 20px;
        }
        td:first-child {
          vertical-align: top;
          padding-right: 20px;
        }
      }
      tr:first-child {
        td {
          padding-top: 0;
        }
      }
    }
  }
  &Form {
    width: 881px;
    height: 214px;
    background: url('/assets/img/request-bg.jpg') no-repeat;
    box-shadow: #fff 0 0 0 5px inset;
    position: relative;

    & > * {
      position: absolute;
    }

    span.title {
      top: 25px;
      left: 30px;
      color: #000;
      font-size: 22px;
    }

    span.description {
      top: 80px;
      left: 30px;
    }

    span.sep {
      display: inline-block;
      width: 80px;
      height: 2px;
      background: #009c64;
      top: 60px;
      left: 30px;
    }

    & > form {
      width: 400px;
      top: 30px;
      right: 25px;

      label {
        display: block;
        position: relative;
        input[type="text"] {
          width: 100%;
          height: 44px;
          border: 1px solid #c9c9c9;
          background: #fff;
          padding-left: 45px;
          margin-bottom: 12px;
        }
        i.icon {
          position: absolute;
          top: 14px;
          left: 20px;
        }
      }

      .submit {
        button {
          background: #009c64;
          color: #fff;
          font-size: 16px;
          float: right;
          padding: 12px 46px;
        }
      }
    }
  }
}