.content-container {
  .rightColumn {
    margin-left: 300px;
    position: relative;

    & > .title {
      padding: 15px;
      margin: 0;
      color: #000;
      font-size: 22px;
      font-weight: normal;
    }

    & > .content {
      background: #fff;
      margin-bottom: 35px;

      p:first-child {
        padding-top: 0;
        margin-top: 0;
      }
    }
    & > .content:last-child {
      margin-bottom: 0;
    }

    .block-text {
      color: #6a6868;
      font-family: Arial;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.26px;
      padding: 38px 30px 24px 14px;

      & > .sub-title {
        padding: 65px 15px 20px;
        margin: 0;
        color: #000;
        font-size: 22px;
        font-weight: normal;
        margin: 20px -30px 20px -14px;
        background-color: $grayBg-0;
      }
    }

    .gray-section {
      padding-left: 40px;

      h4 {
        color: #000000;
        font-weight: 400;
        padding: 10px 0 30px;;
      }

      background-color: $grayBg-0;
      ul {
        list-style-type: circle;
        
        li {
          padding-bottom: 30px;

          &::before {
            content: '\00a0 ';
            position: absolute;
            display: block;
            color: #979696;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $grayBg-1;
            margin: 25px 0 0 -20px;
          }
        }    
      }
    }
  }
}