.showMore {
  text-decoration: none;
  display: block;
  background: #969595;
  height: 42px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
  vertical-align: baseline;

  &:hover {
    background: $mainColor;
    color: #fff;
  }

  i.icon {
    margin-right: 15px;
  }
}