.table-service{

	border-collapse: collapse;

	td, th {
		padding: 10px;
		border: 1px solid #dcdcdc;
		font-weight: 400;
	}


	thead {
		font-size: 14px;
		background-color: #eeeeee;


		tr:first-of-type {
			color: #000000;
			font-weight: 700;
		}
	}

	td {
		background-color: #ffffff;

	}

}