ul.tabs {
  display: table;
  width: 100%;
  background: #d2d2d2;
  height: 41px;
  text-align: center;

  li {
    display: table-cell;
    border-left: 1px solid #e3e2e2;
    position: relative;

    a {
      display: inline-block;
      text-decoration: none;
      color: #2b2a2a;
      font-size: 16px;
      padding: 12px 0 10px 0;
    }

    &.active, &:hover {
      background: $mainColor;
      a {
        color: #fff;
      }
    }
    &.active {
      &::after {
        content: '';
        position: absolute;
        bottom: -16px;
        margin-left: -4px;
        left: 50%;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-top-color: $mainColor;
      }
    }
  }
  li:first-child {
    border-left: 0;
    padding-left: 10px;
  }
}