.rightColumn {
    .tree-menu {
		header{
			height: 43px;
			font-size: 16px;
			font-weight: 400;
			padding: 0 15px 0 19px;
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			margin-top: 15px;
			cursor: pointer;

			&.grey-0 {
				img {
					filter: invert(100%);
				}
			}

			&.red {
				background-color: $redBg-0;
				color: #ffffff;
			}

			&.grey {
				background-color: $grayBg-3;
				color: #000000;
			}
		}

		.item {
			border-left: 1px solid $grayBg-0dot5;
			margin-left: 34px;
			padding-left: 33px;
			width: auto;

			&:last-child {
				border-left: 1px solid transparent;

				header::before {
					border-left: 1px solid $grayBg-0dot5;
				}
			}

			&:not(.active) {
				.content {
					transform: translateY(-100%);
					height: 0;
					overflow: hidden;
					padding: 0;
				}
			}

			&.active {
				.content {
					transform: translateY(0);

					&.table {

					}
				}

				header {
					position: relative;
					background-color: $grayBg-1;

					&:after{
						content: '\00a0 ';
						display: block;

						position: absolute;
						z-index: 100;
						bottom: -6px;
						left: 20px;
						width: 0;
						height: 0;

						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						border-top: 6px solid $grayBg-1;
					}

						img {
						transform: rotate( 180deg);
					}
				}
			}

			header::before {
				content: '\00a0 ';
				position: absolute;
				display: block;
				color: #979696;
				width: 30px;
				height: 40px;
				border-bottom: 1px solid $grayBg-0dot5;
				margin-left: -53px;
				margin-top: -20px;
			}
		}

		ul.items {
			margin-top: 2px;
			display: flex;
			flex-direction: column;
		}
	}
}