$containerPaddingLeftRight: 46px;
$grayBg-0: #f3f3f3;
$grayBg-0dot5: #dddddd;
$grayBg-1: #969595;
$grayBg-2: #979696;
$grayBg-3: #dcdcdc;
$grayBg-4: #505050;
$grayText1: #6a6868;
$mainBg: $grayBg-0;
$redLink: #c92723;
$redBg-0: #ca221e;

// colors
$mainColor: #ffcc00;
