@import "sanitize";
@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background: #e5e4e4;
  color: #6a6868;
  line-height: 1.3em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

a {
  color: #6a6868;

  &:hover {
    color: $redLink;
  }
}

h4 {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  margin: 0 0 5px 0;
}

img {
  max-height: 100%;
}

.clearfix {
  clear: both;
}

@import "icons";
@import "components/bannerblock";
@import "components/header";
@import "components/menu";
@import "components/footer";
@import "components/container";
@import "components/leftcolumn";
@import "components/rightcolumn";
@import "components/tabs";
@import "components/leftmenu";
@import "components/leftbanner";
@import "components/showmore";
@import "components/time";
@import "components/lastnewslist";
@import "components/newslist";
@import "components/announcementslist";
@import "components/request";
@import "index";
@import "news";
@import "components/newsall";
@import "components/newsdetail";
@import "components/pagination";
@import "components/contactcard";
@import "components/tree-menu";
@import "components/table";
@import "components/phone";
@import "components/bottomfeedback";
@import "components/breadcrumps";
@import "components/tableService";
