i.icon {
  display: inline-block;

  &--soc {
    width: 16px;
    height: 16px;
    background: url('/assets/img/social-sprites.png') no-repeat;

    &--fb {
      background-position: 2px 0;
    }
    &--tw {
      background-position: -40px 0;
    }
    &--gl {
      background-position: -82px 0;
    }
    &--in {
      background-position: -122px 0;
    }
    &--pn {
      background-position: -164px 0;
    }
  }

  &--search {
    width: 20px;
    height: 20px;
    background: url('/assets/img/icon-search.png') no-repeat 1px 1px;
  }

  &--calendar {
    width: 20px;
    height: 20px;
    background: url('/assets/img/icon-calendar.png') no-repeat 1px 1px;
  }

  &--showMore {
    width: 17px;
    height: 9px;
    background: url('/assets/img/icon-show-more.png') no-repeat;
  }

  &--clock {
    width: 13px;
    height: 12px;
    background: url('/assets/img/icon-clock.png') no-repeat;
  }

  &--personred {
    width: 13px;
    height: 12px;
    background: url('/assets/img/icon-person-red.png') no-repeat;
  }

  &--contacts {
    width: 16px;
    height: 16px;
    background: url('/assets/img/contacts-sprites.png') no-repeat;

    &--time {
      background-position: 0 0;
    }

    &--geo {
      background-position: 0 -23px;
    }

    &--phone {
      background-position: 0 -46px;
    }
  }

  &--forDisabled {
    width: 25px;
    height: 14px;
    margin-right: 10px;
    background: url('/assets/img/for-disabled-icon.png') no-repeat;
  }

  &--contactWithUs {
    width: 25px;
    height: 14px;
    margin-right: 10px;
    background: url('/assets/img/contact-with-us-icon.png') no-repeat 4px 0;
  }

  &--leftMenu {
    width: 32px;
    height: 32px;
    background: url('/assets/img/left-menu-sprites.png') no-repeat;

    &__avariya {
      background-position: 0 0;
    }
    &__platnye {
      background-position: 0 -68px;
    }
    &__besplatnye {
      background-position: 0 -135px;
    }
    &__remont {
      background-position: 0 -203px;
    }
    &__kommunalnye {
      background-position: 0 -270px;
    }
    &__payonline {
      background-position: 0 -340px;
    }
    &__requestonline {
      background-position: 0 -408px;
    }
    &__sms {
      background-position: 0 -476px;
    }
    &__like {
      background-position: 0 -541px;
    }
  }

  &--requestForm {
    width: 18px;
    height: 18px;
    &__name {
      background: url('/assets/img/icon-person.png') no-repeat;
    }
    &__phone {
      background: url('/assets/img/icon-phone.png') no-repeat;
    }
  }
}

li.active a i.icon.icon--leftMenu,
a:hover i.icon.icon--leftMenu {
  background: url('/assets/img/left-menu-active-sprites.png') no-repeat;

  &__avariya {
    background-position: 0 0;
  }
  &__platnye {
    background-position: 0 -68px;
  }
  &__besplatnye {
    background-position: 0 -135px;
  }
  &__remont {
    background-position: 0 -203px;
  }
  &__kommunalnye {
    background-position: 0 -270px;
  }
  &__payonline {
    background-position: 0 -340px;
  }
  &__requestonline {
    background-position: 0 -408px;
  }
  &__sms {
    background-position: 0 -476px;
  }
  &__like {
    background-position: 0 -541px;
  }
}