extends layout

block content
  .container.container--main
    .content-container
      include includes/breadcrumps
      .newsBannerBlock
        a.bannerblock.noLeftMargin(href="#")
          img(src="/assets/img/bannerblock/banner-contacts.png")
          span Наши контакты

    .content-container
      include includes/left-menu
      section.rightColumn
        h3.title Контактная информация
        .contactcard
          span.title Телефон горячей линии:
          i.icon.icon--contacts.icon--contacts--phone
          span.phone (095)
          span 222-33-44
          br
          span.title Адрес:
          i.icon.icon--contacts.icon--contacts--geo
          span г. Москва, Цветной б-р, д.15, корп.2
          .boss
            img(src="/assets/img/demo/director.png")
            span.title Директор:
            i.icon.icon--personred
            span.phone (095)
            span 222-33-44
            br
            span.title График приема населения Директором
            br
            i.icon.icon--contacts.icon--contacts--time
            span 10:00 - 14:00
          h4 предварительная запись по телефону:

          span.title Секретарь директора:
          i.icon.icon--contacts.icon--contacts--phone
          span.phone (0954)
          span 222-33-44

          br

          span.title Служба единого окна:
          i.icon.icon--contacts.icon--contacts--phone
          span.phone (095)
          span 222-33-44
          .substitutors
            .person
              img(src="/assets/img/substitutor1.png")
              .substitutor-info
                span.title Заместитель директора по жилищному фонду
                br
                span Сороковский Сергей Федорович
            .person
              img(src="/assets/img/substitutor1.png")
              .substitutor-info
                span.title Заместитель директора по жилищному фонду
                br
                span Сороковский Сергей Федорович
            .person
              img(src="/assets/img/substitutor1.png")
              .substitutor-info
                span.title Заместитель директора по жилищному фонду
                br
                span Сороковский Сергей Федорович
        h3.title Адреса Мастерских участков
        .contactcard
          .areainfo
            div.center
              div
                span Мастерский участок
                span.red №
                span.redcircle 1
            div
              span 127051, г. Москва, Цветной б-р, д.15, корп.2
            div.multiphone
              div
                i.icon.icon--contacts.icon--contacts--phone
                span.phone (095)
                span 222-33-44
              div
                i.icon.icon--contacts.icon--contacts--phone
                span.phone (095)
                span 456-78-99

          .tree-menu
            ul.items
              li.item.active
                header.grey
                  |Структукра МУ
                  img(src="/assets/img/arrow.png" alt="")
                .content
                  table.contacttable
                    thead
                      tr
                        th Должность
                        th ФИО
                        th Телефон
                      tr
                        td Заместитель Директора по жилищному фонду
                        td Сидоров Иван Петрович
                        td
                          span.phone (095)
                          span 999-22-33
                      tr
                        td Заместитель Директора по жилищному фонду
                        td Сидоров Иван Петрович
                        td
                          span.phone (095)
                          span 999-22-33
                      tr
                        td Заместитель Директора по жилищному фонду
                        td Сидоров Иван Петрович
                        td
                          span.phone (095)
                          span 999-22-33
              li.item
                header.grey
                  |Дома в обслуживании МУ1
                  img(src="/assets/img/arrow.png" alt="")
                .content

                    ul.items
                      li.item.active
                        header.grey
                          |Улица 1
                          img(src="/assets/img/arrow.png" alt="")
                        .content

                            ul.items
                              li.item.active
                                header.grey
                                  | Дом 1
                                  img(src="/assets/img/arrow.png" alt="")

          .areainfo
            div.center
              div
                span Мастерский участок
                span.red №
                span.redcircle 1
            div
              span 127051, г. Москва, Цветной б-р, д.15, корп.2
            div.multiphone
              div
                i.icon.icon--contacts.icon--contacts--phone
                span.phone (095)
                span 222-33-44
              div
                i.icon.icon--contacts.icon--contacts--phone
                span.phone (095)
                span 456-78-99

          .tree-menu
            ul.items
              li.item.active
                header.grey
                  |Структукра МУ
                  img(src="/assets/img/arrow.png" alt="")
                .content
                  table.contacttable
                    thead
                      tr
                        th Должность
                        th ФИО
                        th Телефон
                      tr
                        td Заместитель Директора по жилищному фонду
                        td Сидоров Иван Петрович
                        td
                          span.phone (095)
                          span 999-22-33
                      tr
                        td Заместитель Директора по жилищному фонду
                        td Сидоров Иван Петрович
                        td
                          span.phone (095)
                          span 999-22-33
                      tr
                        td Заместитель Директора по жилищному фонду
                        td Сидоров Иван Петрович
                        td
                          span.phone (095)
                          span 999-22-33
              li.item
                header.grey
                  |Дома в обслуживании МУ
                  img(src="/assets/img/arrow.png" alt="")
                .content

                    ul.items
                      li.item.active
                        header.grey
                          |Улица 1
                          img(src="/assets/img/arrow.png" alt="")
                        .content
                            ul.items
                              li.item.active
                                header.grey
                                  | Дом 1
                                  img(src="/assets/img/arrow.png" alt="")
                              li.item.active
                                header.grey
                                  | Дом 2
                                  img(src="/assets/img/arrow.png" alt="")
                              li.item.active
                                header.grey
                                  | Дом 3
                                  img(src="/assets/img/arrow.png" alt="")

                      li.item.active
                        header.grey
                          |Улица 2
                          img(src="/assets/img/arrow.png" alt="")
                        .content
                            ul.items
                              li.item.active
                                header.grey
                                  | Дом 3
                                  img(src="/assets/img/arrow.png" alt="")
                              li.item.active
                                header.grey
                                  | Дом 4
                                  img(src="/assets/img/arrow.png" alt="")
                              li.item.active
                                header.grey
                                  | Дом 5
                                  img(src="/assets/img/arrow.png" alt="")


        .bottomfeedback
          .btn.skype
            img(src="/assets/img/icon-skype.png")
            span Видео связь с диспетчером
          .btn.rate
            img(src="/assets/img/icon-rate.png")
            span Поставить оценку