extends layout

block content
  .container.container--main
    .content-container
      include includes/breadcrumps
      .indexBannerBlock
        a.bannerblock.noLeftMargin(href="#")
          img(src="/assets/img/bannerblock/banner1.jpg")
          span Ремонт сантехники
        a.bannerblock(href="#")
          img(src="/assets/img/bannerblock/banner2.jpg")
          span Жалобы
        a.bannerblock(href="#")
          img(src="/assets/img/bannerblock/banner3.jpg")
          span Аварийные ситуации
        a.bannerblock(href="#")
          img(src="/assets/img/bannerblock/banner4.jpg")
          span Стоимость услуг

    .content-container
      aside.leftColumn
        h3.title Разделы
        .content
          ul.leftMenu
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__avariya
              span Аварийные ситуации
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__platnye
              span Платные услуги
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__besplatnye
              span Бесплатные услуги
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__remont
              span Кап ремонт
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__kommunalnye
              span Коммунальные услуги
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__payonline
              span Оплата услуг online
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__requestonline
              span Подача заявки online
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__sms
              span смс оповещение
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__like
              span Поставить оценку

        h3.title Последние новости
        .content
          ul.lastNewsList
            li
              a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
              .time
                i.icon.icon--clock
                | 12 апреля 2017
            li
              a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
              .time
                i.icon.icon--clock
                | 12 апреля 2017
            li
              a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
              .time
                i.icon.icon--clock
                | 12 апреля 2017
          a.showMore(href="#")
            i.icon.icon--showMore
            span.title Чинать все новости

        h3.title
        .content
          .leftBanner
            a(href="#"): img(src="/assets/img/demo/leftbanner.jpg" alt="")
      section.rightColumn
        h3.title Как работает система заявки
        .content
            .requestContainer
              .requestContainerDescription
                table
                  tr
                    td: img(src="/assets/img/request-description/1.png" alt="")
                    td Заявка подаётся по телефону отвечая на вопросы оператора или через личный кабинет заполняя установленную форму (см. страницу личный кабинет).
                  tr
                    td: img(src="/assets/img/request-description/2.png" alt="")
                    td Далее оператор согласовывается удобное время и дату режим работы жилищника и по адресу направляет мастера. В случае если услуга оказывается платной, то определяется предварительная стоимость  и необходимые для устранения материалы. Оплачивается услуга в МУ, через квитанцию в отделении банка или по безналичному расчёту через терминал, который находится у мастера. Внимание платная услуга оказывается только после совершения оплаты.
                  tr
                    td: img(src="/assets/img/request-description/3.png" alt="")
                    td Мастер по прибытии на место указанное заявителем устраняет проблему.
                  tr
                    td: img(src="/assets/img/request-description/4.png" alt="")
                    td После получения услуг заявитель может провести оценку работы исполнителя  в личном кабинете или при поступлении звонка от оператора диспетчерской службы.
              .requestContainerForm
                span.title Подать заявку сейчас
                span.description
                  | Заявка подаётся через
                  br
                  | личный кабинет заполняя
                  br
                  | установленную форму.
                span.sep
                form(action="" method="post")
                  label
                    input(type="text" name="name" placeholder="Ваше имя")
                    i.icon.icon--requestForm.icon--requestForm__name
                  label
                    input(type="text" name="phone" placeholder="Ваш номер телефона")
                    i.icon.icon--requestForm.icon--requestForm__phone
                  .submit
                    button(type="submit") Отправить
        h3.title Как работает система заявки
        ul.tabs
          li.active: a(href="#") Все новости
          li: a(href="#") Новости округа
          li: a(href="#") Новости столицы
          li: a(href="#") Новости района
          li: a(href="#") Информация

        .content
          .newsList
            .newsList--main
              .img
                img(src="/assets/img/demo/mainnews.jpg", alt="")
              .content
                h4 Дорожные стройки на шоссе вышли на финишную прямую
                p Дорожное строительство на шоссе Энтузиастов близится к завершению. Об этом сообщил мэр Москвы Сергей Собянин в ходе осмотра строительства участка Северо-Восточной хорды от шоссе Энтузиастов до Измайловского шоссе.
            ul
              li: a(href="#")
                img(src="/assets/img/demo/news.jpg")
                h4 Акция "ЗаБег" прошла в Москва
                | Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
                .time
                  i.icon.icon--clock
                  | 14 апреля 2017
              li: a(href="#")
                img(src="/assets/img/demo/news.jpg")
                h4 Акция "ЗаБег" прошла в Москва
                | Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
                .time
                  i.icon.icon--clock
                  | 14 апреля 2017
              li: a(href="#")
                img(src="/assets/img/demo/news.jpg")
                h4 Акция "ЗаБег" прошла в Москва
                | Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
                .time
                  i.icon.icon--clock
                  | 14 апреля 2017
              li: a(href="#")
                img(src="/assets/img/demo/news.jpg")
                h4 Акция "ЗаБег" прошла в Москва
                | Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
                .time
                  i.icon.icon--clock
                  | 14 апреля 2017
              li: a(href="#")
                img(src="/assets/img/demo/news.jpg")
                h4 Акция "ЗаБег" прошла в Москва
                | Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
                .time
                  i.icon.icon--clock
                  | 14 апреля 2017
              li: a(href="#")
                img(src="/assets/img/demo/news.jpg")
                h4 Акция "ЗаБег" прошла в Москва
                | Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
                .time
                  i.icon.icon--clock
                  | 14 апреля 2017

          a.showMore(href="#")
            i.icon.icon--showMore
            span.title Еще новости


        h3.title Анонсы
        .content
          ul.announcementsList
            li
              .img
                img(src="/assets/img/demo/mainnews.jpg", alt="")
                span.label.labelYellow Строительство
              h4 Акция "ЗаБег" прошла в Москва
              p Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
              .time
                i.icon.icon--clock
                | 14 апреля 2017
            li
              .img
                img(src="/assets/img/demo/mainnews.jpg", alt="")
                span.label.labelGreen Строительство
              h4 Акция "ЗаБег" прошла в Москва
              p Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
              .time
                i.icon.icon--clock
                | 14 апреля 2017
            li
              .img
                img(src="/assets/img/demo/mainnews.jpg", alt="")
                span.label.labelRed Строительство
              h4 Акция "ЗаБег" прошла в Москва
              p Всероссийский марафон "ЗаБег" прошел в воскресенье 21 мая.
              .time
                i.icon.icon--clock
                | 14 апреля 2017
          a.showMore(href="#")
            i.icon.icon--showMore
            span.title Еще анонсы

    .clearfix

