doctype html
html
  head
    include includes/head
  body
    include includes/header
    include includes/menu
    block content
    include includes/footer

script.
  //search
  (function(){
    var rootSelector = '#menu-search';
    var rootEl = document.querySelector( rootSelector);
    var input = rootEl.querySelector( 'input');

    var outsideClick = function( e) {
      console.log( 'asdasd');
      if( e.target.closest( rootSelector)){
        return;
      }
      
      rootEl.classList.toggle( 'active', false);
      document.removeEventListener( 'click', outsideClick);
    }

    rootEl.querySelector( 'a').addEventListener( 'click', function(e) {
      e.stopPropagation();

      rootEl.classList.toggle( 'active');

      if( rootEl.classList.contains( 'active')) {
        document.addEventListener( 'click', outsideClick);
        input.focus();
      } else {
        document.removeEventListener( 'click', outsideClick);
      }
      
    });
  })();

  (function(){
    var rootSelector = '.tree-menu';
    var headers = document.querySelectorAll( rootSelector + ' header');

    Array.prototype.forEach.call(headers, function (header) {     
      header.addEventListener( 'click', function( e) {
        var el = header.closest( '.item');
        el.classList.toggle( 'active');
      })
    });
  })();
