extends layout

block content
  .container.container--main
    .content-container
      include includes/breadcrumps
      .newsBannerBlock
        a.bannerblock.noLeftMargin(href="#")
          img(src="/assets/img/bannerblock/banner-news.png")
          span Новости

    .content-container
      include includes/left-menu
      section.rightColumn
        h3.title Заголовок Новостей
        ul.newsall
          li
            a(href="#")
              div
                img(src="/assets/img/demo/allnews1.png")
                br
                span hello
                span тег2
                span Супер тег3
              h4 Акция "ЗаБег" прошла в Москва
              p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, minus.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias reprehenderit magnam neque sint enim sunt. Quasi, id, nemo vero cum officia sequi earum excepturi ut ratione quisquam inventore rem accusamus natus, adipisci maxime saepe soluta mollitia. Sint error aspernatur rerum illo maiores deleniti optio culpa autem facere id? Veniam!
              .time
                i.icon.icon--clock
                | 14 апреля 2017

          li
            a(href="#")
              div
                img(src="/assets/img/demo/allnews1.png")
                br
                span hello
                span тег2
                span Супер тег3
              h4 Акция "ЗаБег" прошла в Москва
              p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, minus.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias reprehenderit magnam neque sint enim sunt. Quasi, id, nemo vero cum officia sequi earum excepturi ut ratione quisquam inventore rem accusamus natus, adipisci maxime saepe soluta mollitia. Sint error aspernatur rerum illo maiores deleniti optio culpa autem facere id? Veniam!
              .time
                i.icon.icon--clock
                | 14 апреля 2017

          li
            a(href="#")
              div
                img(src="/assets/img/demo/allnews1.png")
                br
                span hello
                span тег2
                span Супер тег3
              h4 Акция "ЗаБег" прошла в Москва
              p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, minus.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias reprehenderit magnam neque sint enim sunt. Quasi, id, nemo vero cum officia sequi earum excepturi ut ratione quisquam inventore rem accusamus natus, adipisci maxime saepe soluta mollitia. Sint error aspernatur rerum illo maiores deleniti optio culpa autem facere id? Veniam!
              .time
                i.icon.icon--clock
                | 14 апреля 2017

          li
            a(href="#")
              div
                img(src="/assets/img/demo/allnews1.png")
                br
                span hello
                span тег2
                span Супер тег3
              h4 Акция "ЗаБег" прошла в Москва
              p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, minus.
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias reprehenderit magnam neque sint enim sunt. Quasi, id, nemo vero cum officia sequi earum excepturi ut ratione quisquam inventore rem accusamus natus, adipisci maxime saepe soluta mollitia. Sint error aspernatur rerum illo maiores deleniti optio culpa autem facere id? Veniam!
              .time
                i.icon.icon--clock
                | 14 апреля 2017
        ul.pagination
          li.active
            a(href="#") 1
          li
            a(href="#") 2
          li
            a(href="#") 3
          li
            a(href="#") 42


    .clearfix