extends layout

block content
  .container.container--main
    .content-container
      include includes/breadcrumps
      .newsBannerBlock
              a.bannerblock.noLeftMargin(href="#")
                img(src="/assets/img/bannerblock/banner-news.png")
                span Новости

    .content-container
      aside.leftColumn
        h3.title Разделы
        .content
          ul.leftMenu
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__avariya
              span Аварийные ситуации
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__platnye
              span Платные услуги
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__besplatnye
              span Бесплатные услуги
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__remont
              span Кап ремонт
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__kommunalnye
              span Коммунальные услуги
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__payonline
              span Оплата услуг online
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__requestonline
              span Подача заявки online
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__sms
              span смс оповещение
            li: a(href="#")
              i.icon.icon--leftMenu.icon--leftMenu__like
              span Поставить оценку

        h3.title Последние новости
        .content
          ul.lastNewsList
            li
              a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
              .time
                i.icon.icon--clock
                | 12 апреля 2017
            li
              a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
              .time
                i.icon.icon--clock
                | 12 апреля 2017
            li
              a(href="#") К Кубку конфедераций в метро появятся столы для настольного футбола
              .time
                i.icon.icon--clock
                | 12 апреля 2017
          a.showMore(href="#")
            i.icon.icon--showMore
            span.title Читать все новости

        h3.title
        .content
          .leftBanner
            a(href="#"): img(src="/assets/img/demo/leftbanner.jpg" alt="")
      section.rightColumn.newsDetail
        .content.news
          .newsDetail
            h3.news-title Ремонт 5-этажного дома по ул. Красина 231/2

            .time
                i.icon.icon--time
                | 10.33&nbsp&nbsp

                i.icon.icon--calendar
                | 14 апреля 2017

            img(src="/assets/img/demo/allnews1.png").newspict

            p.news-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut magna nibh. Praesent non nisi neque. Morbi risus risus, mollis in mauris pretium, pretium posuere nisi. Ut eu fermentum libero. Praesent nec condimentum felis, quis fermentum mi. Maecenas bibendum est ac est auctor, eget euismod libero varius. Mauris eu nulla pulvinar nulla fringilla molestie. Ut congue pharetra magna, vitae pretium felis ultrices at. Vestibulum sed neque leo. Proin eleifend bibendum consequat. Etiam semper quam ipsum, eget feugiat justo consectetur aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut magna nibh. Praesent non nisi neque. Morbi risus risus, mollis in mauris pretium, pretium posuere nisi. Ut eu fermentum libero. Praesent nec condimentum felis, quis fermentum mi. Maecenas bibendum est ac est auctor, eget euismod libero varius. Mauris eu nulla pulvinar nulla fringilla molestie. Ut congue pharetra magna, vitae pretium felis ultrices at. Vestibulum sed neque leo. Proin eleifend bibendum consequat. Etiam semper quam ipsum, eget feugiat justo consectetur aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut magna nibh. Praesent non nisi neque. Morbi risus risus, mollis in mauris pretium, pretium posuere nisi. Ut eu fermentum libero. Praesent nec condimentum felis, quis fermentum mi. Maecenas bibendum est ac est auctor, eget euismod libero varius. Mauris eu nulla pulvinar nulla fringilla molestie. Ut congue pharetra magna, vitae pretium felis ultrices at. Vestibulum sed neque leo. Proin eleifend bibendum consequat. Etiam semper quam ipsum, eget feugiat justo consectetur aliquam.

            hr
            .tags
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf
                span dfdf

        a.showMore(href="#")
             i.icon.icon--showMore
             span.title Все новости
    .clearfix