extends layout

block content
  .container.container--main
    .content-container
      include includes/breadcrumps
      .newsBannerBlock
        a.bannerblock.noLeftMargin(href="#")
          img(src="/assets/img/bannerblock/banner-services.png")

          span Виды наших услуг

    .content-container
      include includes/left-menu

      section.rightColumn
        h3.title Текстовый заголовок
        .content
          .block-text
            p
              |ГБУ "Жилищник района Тверской" — организация, оказывающая услуги по управлению, содержанию и текущему ремонту многоквартирных домов. В настоящее время в управлении находится 408 жилых домов.

            p
              |Услуги, оказываемые управляющей организацией в отношении общего имущества собственников помещений в многоквартирном доме, из числа услуг, указанных в Правилах содержания общего имущества в многоквартирном доме, утвержденных постановлением Правительства Российской Федерации от 13 августа 2006 г. № 491 и постановлением Правительства Российской Федерации от 23.05.2006 г. № 307.

            .gray-section
              h4 Бесплатные услуги:

              ul
                li
                  |обеспечение благоприятных и безопасных условий проживания граждан, надлежащего содержания и
                  |имущества в многоквартирном доме;
                li
                  |предоставление коммунальных услуг собственникам помещений, а так же членам их семьи,
                  |нанимателям и членам их семьи, арендаторам и иным законным пользователям помещениями
                  |собственника в многоквартирном доме: холодное водоснабжение; горячее водоснабжение;
                  |водоотведение; отопление.
                li
                  |для предоставления коммунальных услуг собственникам помещений управляющая организация от
                  |своего имени и за свой счет заключает договора с ресурса снабжающими организациями,
                  |осуществляет контроль за качеством и количеством поставленных коммунальных услуг,
                  |а так же ведет их учет;
                li
                  |заключает договора с подрядными организациями на техническое обслуживание, содержание и
                  |текущий ремонт общего имущества многоквартирного дома, инженерных коммуникаций, в
                  |соответствии с требованиями действующих технических регламентов, стандартов, правил и
                  |нормативам.


            |Иные услуги (радиотрансляция, телевидение, видеонаблюдение, обеспечение работы домофонов, кодового замка двери подъезда и т.д.), предусмотренные решением общего собрания собственников помещений в многоквартирном доме.

            p
              |Ведется учет собственников помещений многоквартирного дома и принимает от собственника плату за содержание и текущий ремонт общего имущества через систему ГБУ "МФЦ города Москвы".

            h3.sub-title Текстовый заголовок

            .tree-menu
              header.red
                |Санитарно-технические работы
                img(src="/assets/img/arrow.png" alt="")
              ul.items
                li.item.active
                  header.red
                    |Унитаз
                    img(src="/assets/img/arrow.png" alt="")
                  .content
                    include includes/tableService
                li.item
                  header.red
                    |Раковина, мойка
                    img(src="/assets/img/arrow.png" alt="")
                  .content
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                li.item
                  header.red
                    |Электромонтажные работы
                    img(src="/assets/img/arrow.png" alt="")
                  .content
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                li.item
                  header.red
                    |Смена пробок
                    img(src="/assets/img/arrow.png" alt="")
                  .content
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .clearfix